In [2]:
import pandas as pd

In [3]:
#method 1 : specify full path to file

In [4]:
stats = pd.read_csv('~/Documentos/Python A to Z - SuperDataScience/P4-Demographic-Data.csv')

In [5]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [6]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [1]:
# Accessing indivuldual elements

In [7]:
# .at  # for labels, important: even integers are treated as labels

# .iat # for integer location

In [8]:
stats.iat[3,4]      # third row, forth column

'Upper middle income'

In [9]:
stats.iat[0,1]

'ABW'

In [11]:
stats.at[2, 'Birth rate']

45.985

In [12]:
# why we need .at

In [13]:
sub10 = stats[::10] filtering 10 by 10

In [14]:
sub10

    Country Name Country Code  Birth rate  Internet users         Income Group
0          Aruba          ABW      10.244       78.900000          High income
10    Azerbaijan          AZE      18.300       58.700000  Upper middle income
20       Belarus          BLR      12.500       54.170000  Upper middle income
30        Canada          CAN      10.900       85.800000          High income
40    Costa Rica          CRI      15.022       45.960000  Upper middle income
50       Ecuador          ECU      21.070       40.353684  Upper middle income
60         Gabon          GAB      30.555        9.200000  Upper middle income
70     Greenland          GRL      14.500       65.800000          High income
80         India          IND      20.291       15.100000  Lower middle income
90    Kazakhstan          KAZ      22.730       54.000000  Upper middle income
100        Libya          LBY      21.425       16.500000  Upper middle income
110      Moldova          MDA      12.141       45.000000  Lower middle income
120   Mozambique          MOZ      39.705        5.400000           Low income
130  Netherlands          NLD      10.200       93.956400          High income
140       Poland          POL       9.600       62.849200          High income
150        Sudan          SDN      33.477       22.700000  Lower middle income
160     Suriname          SUR      18.455       37.400000  Upper middle income
170   Tajikistan          TJK      30.792       16.000000  Lower middle income
180      Uruguay          URY      14.374       57.690000          High income
190  Yemen, Rep.          YEM      32.947       20.000000  Lower middle income

In [15]:
sub10.iat[10,0]

'Libya'

In [16]:
sub10.at[10,'Country Name']  # using at he will find the label 2, in the colunm 'Country name' not te sequence 2, who is 'Belarus

'Azerbaijan'