In [1]:
MyFirstList = [3, 46, 56, 732]

In [2]:
MyFirstList

[3, 46, 56, 732]

In [4]:
type(MyFirstList)

list

In [5]:
l2 = ["hello", 24, True, 55.3]

In [6]:
l2

['hello', 24, True, 55.3]

In [7]:
type(l2)

list

Lists can have lists inside of it

In [8]:
l3 = ['how are you?', 55, MyFirstList]

In [9]:
l3

['how are you?', 55, [3, 46, 56, 732]]

-----

In [10]:
range(15)

range(0, 15)

In [11]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
x = [1, 2, 3, 4, 5, 6, 7]
x

[1, 2, 3, 4, 5, 6, 7]

In [15]:
y = list(range(8))
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [16]:
#if you want to start in 1 like in the list x , remember, the last number is not included

z = list(range(1,8))
z

[1, 2, 3, 4, 5, 6, 7]

if you incluse a third element in the range function this will specify what step the range will follow, by defaut is 1 but if you put 2 will run 2, by 2 or 3 by 3

In [17]:
w = list(range(100,110,2))
w

[100, 102, 104, 106, 108]

---

### How use [ ]

How tho access an element in a list, remember starts in 0

In [18]:
w[1]

102

In [19]:
w[0]

100

In [21]:
w[4]

108

In [22]:
# to return the number of elements

len(w)

5

In [23]:
t = ['a', 'b', 'c', 'd', 'e']

#    0     1    2    3    4

#    -5   -4    -3   -2   -1

In [25]:
t[-1]   #diferent than R,  in R -1 would exclue the first element, in Python , shows the last

'e'